body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

.logo-link {
  text-decoration: none;
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.6667;
  font-weight: 700;
}

.logo-link-second-part {
  text-decoration: none;
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 18px;
  color: #2e2f42;
  line-height: 1.6667;
  font-weight: 700;
}

.page-nav {
  list-style-type: none;
}

.page-nav .link {
  text-decoration: none;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  font-weight: 500;
}

.page-nav .link:hover {
  color: #404bbf;
}

.page-nav .link-studio {
  text-decoration: none;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  font-weight: 500;
}

.page-nav .link-studio:hover {
  color: #404bbf;
}

.page-nav .link-studio:focus {
  color: #404bbf;
  text-decoration: underline;
}

.contact-list {
  list-style-type: none;
}

.contact-list .contact {
  font-size: 16px;
  color: #434455;
  text-decoration: none;
  line-height: 1.5;
}

.contact-list .contact:hover,
.contact-list .contact:focus {
  color: #404bbf;
}

.main-page {
  background-color: #2e2f42;
}

.page-title {
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07143;
}

.order-service {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.order-service:hover {
  background-color: #404bbf;
  cursor: pointer;
}

.advantages-list {
  list-style-type: none;
}

.advantages-list .name-advantages {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.member {
  background-color: #f4f4fd;
}

.member-title {
  font-size: 36px;
  line-height: 1.11111;
}

.member-list {
  list-style-type: none;
}

.member-card {
  background-color: #ffffff;
}

.member-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.member-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

.example-list {
  list-style-type: none;
}

.example-card {
  background-color: #e7e9fc;
}

.example-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.example-text {
  font-size: 16px;
  line-height: 1.5;
}

.bottom-page {
  background-color: #2e2f42;
}

.bottom-page .logo-link-second-part {
  color: #f4f4fd;
}

.bottom-text {
  color: #f4f4fd;
}
